{% extends "base.html" %}
{% load static %}

{% block title %}Каталог книг{% endblock %}
{% block content %}
    <div class="container">
        <div class="header">
            <h1><a href="/books">Каталог</a></h1>
        </div>
        <div class="row">
            {% for book in books %}
                <div class="book col-md-4">
                    <h2>{{ book.name }}</h2>
                    <p>Автор: {{ book.author }}</p>
                    <p>Дата публикации: {{ book.pub_date|date:"Y-m-d"}}</p>
                </div>

            {% endfor %}

        </div>
        {% if prev_date or next_date %}
            <div class="row">
                <a class="pagination" href="{{redirect_path}}/books/{{prev_date.pub_date|date:'Y-m-d'}}">< {{ prev_date.pub_date|date:"Y-m-d" }}    |</a>
                <a class="pagination" href="{{redirect_path}}/books/{{next_date.pub_date|date:'Y-m-d'}}">|    {{ next_date.pub_date|date:"Y-m-d" }} ></a>
            </div>
        {% endif %}
    </div>
{% endblock %}